.create-note {
    min-height: 100vh;
    background: #f5f7fb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.note-form {
    width: 100%;
    max-width: 700px;
    background: white;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.08);
}

.note-form h1 {
    margin-bottom: 25px;
    color: #111827;
}

.note-form input,
.note-form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 16px;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

.note-form textarea {
    resize: none;
}

.note-form button {
    border: none;
    background: #2563eb;
    color: white;
    padding: 14px 22px;
    border-radius: 10px;
    cursor: pointer;
}